.App {
    font-family: sans-serif;
    text-align: center;
    
  }

  body{
    font-size: large;
    text-align: center;
    font-weight: 600;
  }
  button{
    height: 50px;
    padding: 20px;
    padding-bottom: 40px;
    margin: 7px;
    font-size: large;
    text-align: center;
    font-weight: 600;
  }